@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.interface{
    display: flex;
    justify-content: space-around;

}
.flex{
    display: flex;
}
.logo img{
    width: 200px;
}

header > .interface{
    display: flex;
    align-items: center;
    
}
header a {
    color: rgba(255, 255, 255, 0.705);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 12px;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    margin: 25px;
    display: inline-block;
    max-width: 1280px;
}

.btn button{
    color: rgba(255, 255, 255, 0.705);
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blue;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 34px;
    text-align: center;
}

h2.titulo span{
    color: blue;
}

header a:hover{
    color: white;
    transform: scale(1.05);
}
.btn button:hover{
    color: white;
    box-shadow: 0px 0px 8px blue;
}

section{
    padding: 40px 4%;
}
section .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo h1{
    color: white;
    font-size: 44px;
    line-height: 40px;
}

.topo h1 span{
    color: blue;
    font-size: 50px;
}

.topo .txt-top-site p   {
    color: #fff;
    margin: 40px 0;
}

.img-top-site img{
    position: relative;
    animation: flutuar 2s ease-in-out alternate-reverse infinite;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
section.especialidades{
    padding: 40px 4%;
}

.especialidades .especialidades-box{
    color: #fff;
    border-radius: 20px;
    padding: 40px;
    margin-top: 26px;
    transition: .2s;
}


.especialidades .especialidades-box svg{
    font-size: 70px;
    color: blue;
}

.especialidades .especialidades-box h3{
    font-size: 36;
    margin: 15px 0;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.486);
}

section.sobre{
    padding: 40px 4%;

}
.img-sobre img {
    box-shadow: 0 0 8 blue;
    border-radius: 20px;
    width: 400px;
    height: 500px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
.sobre .txt-sobre h2 span{
    color: blue;
    display: block;

}

.sobre .txt-sobre{
    margin: 20px;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: blue;
}
